navbar(class="navbar navbar-expand-lg navbar-light bg-light")
    a(class="navbar-brand ms-3" href="/actu")
        img(class="logo" width="50" height="50" src="/images/ile.jpg")
    button(class="navbar-toggler")
        span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse flex-row-reverse")
        ul(class="navbar-nav me-5 pe-5")
            li(class="nav-item active me-5 pe-5")
                a(class="btn btn-primary btn-actu me-5 " href="/actu/new") Ecrire une actu &#128522;
            li(class="nav-item ")   
                a(class="nav-link me-5" href="#") Connexion
            li(class="nav-item ")   
                a(class="nav-link me-5" href="/users/signup/form") Inscription
